:root{
    --button-background: #221f1f; 
}

body{
    background-color: #221f1f;
    margin:0;
    padding:0;
}
#title{
    color: white;
    font-family: sans-serif;
    text-align: left;
    font-weight: 300;
    font-size: 2rem;
    padding:1rem;
    line-height: 3rem;;
    background: #3fc707;
    border-bottom-style: solid;
    border-bottom-width: 2px;;
    border-color: grey;

}
button{
    
    position: absolute;
    margin:1rem;
    
    background-color: var(--button-background);
    color:white;
    font-size: 2rem;
    line-height: 3rem;;
    border-color: grey;
    
    border-style: solid;
    border-radius: 0.5rem;
    padding:1rem;
    right:0;
    bottom:0;
    
}
button:focus{
    outline-width: 0;
}
input{
    margin:1rem;
    color:white;
    background: #221f1f;
    
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;;
    border-color: grey;
    width:70%;
    line-height:3rem;
    font-size: 2.5rem;
   
}
input:focus{
    outline-width: 0;
}
.noSelect{
   
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#nameError{
    margin:1rem;
    font-family: sans-serif;
    visibility: hidden;
    color:#c70714;
    font-size: 1rem;

}





@media only screen and (min-width: 500px) { /*desktop styles*/
    
    button{
        position: relative;
        margin:1rem;
        
        background-color: var(--button-background);
        color:white;
        font-size: 2rem;
        line-height: 3rem;;
        border-color: grey;
        
        border-style: solid;
        border-radius: 0.5rem;
        padding:1rem;
        
        
    }
}